.networks__list > .call__link {
    background-color: rgba(255, 255, 255, 0.1);
    color: var(--second-accent-color);
  }
  .call__link:hover,
  .call__link:focus {
    background-color: var(--accent-color);
  }
  .call{
 text-align: center;
    margin-bottom: 60px;

    @media screen and (min-width: 768px) {
     
      display: flex;
      flex-direction: column;
     
    }
      @media screen and (min-width: 1200px) {
    
     display: flex;
     align-items: flex-start;
     margin-left: 70px;
  }
}
  .call__strong {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
  
    color: var(--second-accent-color);
  }